@font-face {
    font-family:'Montserrat-Medium';
    src: url('Montserrat-Medium.ttf') format(truetype);
}

body{
    font-family: 'Montserrat-Medium';
}

#video_background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    background-repeat: no-repeat;
}
