@font-face {
    font-family:'Montserrat-Medium';
    src: url('Montserrat-Medium.ttf') format(truetype);
}

body{
    font-family: 'Montserrat-Medium';
}

.navbar {
    background-color: #5B423B;
}

.collapse{
    padding-left: 25%;
}

.navbar-nav .nav-item .nav-link:focus {
    text-decoration: underline 2px;
}
